<md-toolbar class="pdf-navbar mat-toolbar mat-elevation-z6" color="primary">
  <img src="../../../assets/svg/common/open-book.svg" class="logo" width="50px">
  Rich PDF Interface
  <span class="app-toolbar-filler"></span>
  <button md-button><md-icon>home</md-icon> Back to Home</button>

  <button md-icon-button class="avatar" [mdMenuTriggerFor]="menu">
    <img src="../../../assets/svg/kids-avatar/girl-22.svg">
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item routerLink="/profile"><img src="../../../assets/svg/common/application.svg" class="menu-image" width="30px"><span>Profile</span></button>
    <button md-menu-item (click)="signOut()"><img src="../../../assets/svg/common/exit.svg" class="menu-image" width="30px"><span>SignOut</span></button>
  </md-menu>
</md-toolbar>
