.pdf-navbar {
  position: relative;
  z-index: 10;
  .app-toolbar-filler {
    flex: 1 1 auto;
  }
  font-family: 'Baloo', cursive !important;
}
.avatar {
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}
img.menu-image {
  margin-right: 10px;
}
.logo {
  margin-right: 10px;
}
