<div class="login-content">
  <md-card class="login-card">
    <md-card-header>
      <div md-card-avatar class="login-avatar">
        <img md-card-image src="../../assets/svg/avatar/052-man-5.svg">
      </div>
    </md-card-header>
    <md-card-content>
      <form class="login-form">
        <md-input-container class="login-input">
          <input mdInput type="email" placeholder="E-Mail Address" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
        </md-input-container>
        <md-input-container class="login-input">
          <input mdInput type="password" placeholder="Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
        </md-input-container>
      </form>
    </md-card-content>
    <md-card-content class="social-login">
      <button md-raised-button color="primary" class="icon-btn email" (click)="signInWithEmail()"><img src="../../assets/svg/logo-svg/keywords.svg" width="40px">Login with E-Mail</button>
      <button md-raised-button color="primary" class="icon-btn facebook" (click)="signInWithFacebook()"><img src="../../assets/svg/logo-svg/facebook.svg" width="40px"><span>Login with Facebook</span></button>
      <button md-raised-button color="primary" class="icon-btn google" (click)="signInWithGoogle()"><img src="../../assets/svg/logo-svg/google-plus.svg" width="40px"><span>Login with Google +</span></button>
      <button md-raised-button color="primary" class="icon-btn twitter" (click)="signInWithTwitter()"><img src="../../assets/svg/logo-svg/twitter.svg" width="40px"><span>Login with Twitter</span></button>
    </md-card-content>
  </md-card>
</div>
