<div class="login-content">
  <md-card class="login-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="../../assets/svg/flat-svg/user.svg">
    <md-card-content>
      <ul>
        <li class="text" *ngFor="let item of items | async">
          {{item.$value}}
        </li>
      </ul>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>
