.pdf-sidenav-container {
  height: 100vh;
  .pad-main-content {
    margin-left: 250px;
    height: 100vh;
    padding: 80px;
    background: rgba(87,167,237,1);
    background: -moz-linear-gradient(top, rgba(87,167,237,1) 0%, rgba(87,167,237,1) 0%, rgba(180,214,250,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(87,167,237,1)), color-stop(0%, rgba(87,167,237,1)), color-stop(100%, rgba(180,214,250,1)));
    background: -webkit-linear-gradient(top, rgba(87,167,237,1) 0%, rgba(87,167,237,1) 0%, rgba(180,214,250,1) 100%);
    background: -o-linear-gradient(top, rgba(87,167,237,1) 0%, rgba(87,167,237,1) 0%, rgba(180,214,250,1) 100%);
    background: -ms-linear-gradient(top, rgba(87,167,237,1) 0%, rgba(87,167,237,1) 0%, rgba(180,214,250,1) 100%);
    background: linear-gradient(to bottom, rgba(87,167,237,1) 0%, rgba(87,167,237,1) 0%, rgba(180,214,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57a7ed', endColorstr='#b4d6fa', GradientType=0 );
  }
}
