<md-sidenav #sidenav mode="side" opened="true" class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a md-button class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><md-icon>dashboard</md-icon>&nbsp; Dashboard </a>
      </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open">
        <a md-button class="nav-link nav-dropdown-toggle" routerLinkActive="active"><md-icon>pets</md-icon>&nbsp; Pets </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a md-button class="nav-link" routerLinkActive="active" [routerLink]="['broker/general']"><md-icon>favorite</md-icon>&nbsp; Love us </a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open">
        <a md-button class="nav-link" routerLinkActive="active"><md-icon>settings</md-icon>&nbsp; Settings </a>
      </li>
    </ul>
  </nav>
</md-sidenav>
