@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

app-root {
  overflow: hidden;
}
.mat-input-placeholder-wrapper, input {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}
.nav-link span, button {
  font-family: 'Baloo', cursive !important;
}

.mat-card {
  font-family: 'Dosis', sans-serif !important;
}

.spinner-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 99999;
  md-spinner {
    position: absolute;
    transform: translateX(-50%)translateY(-50%);
    left: 50%;
    top: 50%;
  }
}
